/* Importación de la fuente "Arsenal" */
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Baloo+Bhai+2:wght@700&family=Baloo+Bhaijaan+2&display=swap');

/* importación de los archivos css de cada una de las páginas */
@import url('./style-index.css');
@import url('style-problematica.css');
@import url('./style-como-ayudar.css');

/* Colores de la página */
:root {
    --azul1: #7490EB;
    --azul2: #BCC8EE;
    --azul3: #5A70B8;
    --gris1: #555A6B;    
}

/* Fuente "Arsenal" en toda la página */
* {
    font-family: 'Arsenal', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 2%;
}

.navbar-brand img {
    border-radius: 50%;
    margin-right: 5%;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: var(--azul3);
    font-size: 550%;
}

h2 {
    color: var(--azul1);
    font-size: 400%;
    font-weight: bold;
}

/* Efectos de título y subtítulos */

@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(3) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(7) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(8) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(9) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(10) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(11) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }